/displayEtensionCout/nbproject/private/
/displayEtensionCout/build/
/moveFileToOneDir/nbproject/private/
/moveFileToOneDir/build/
/wordCountTxt/nbproject/private/
/wordCountTxt/build/
/RemoveDuplicateFromCSV/nbproject/private/
/RemoveDuplicateFromCSV/build/
/PhoneDirCSV/nbproject/private/
/PhoneDirCSV/build/
/studsTeachers/nbproject/private/
/studsTeachers/build/
/studsTeachers/dist/